<%- include header %>
<form method="post">
    <div class="login">
        用户名: <input type="text" name="name"><br>
        &nbsp;&nbsp;&nbsp;
        密码: <input type="password" name="password"><br>
        <input type="submit" name="submit" value="登录">
    </div>
</form>
<%- include footer %>