<%- include header %>
<form method="post" class="post-form">
    标题: <br>
    <input type="text" name="title" class="post-title"><br>
    标签： <br>
    <input type="text" name="tag1" class="tag1">
    <input type="text" name="tag2" class="tag1">
    <input type="text" name="tag3" class="tag1"><br>
    正文: <br>
    <textarea cols="70" rows="20" name="content"></textarea><br>
    <input type="submit" name="submit" value="发表">
</form>
<%- include footer %>